<ion-header>
  <ion-toolbar>
    <ion-title>TeLlevoAPP</ion-title>
    <ion-buttons slot="end">
      <!-- Botón de Cerrar Sesión más pequeño -->
      <ion-button size="small" color="danger" (click)="logout()" fill="clear">
        <ion-icon name="log-out-outline"></ion-icon>
        Cerrar Sesión
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="home-page">
  <!-- Contenedor de la imagen de fondo -->
  <div class="header-container">
    <!-- Contenido de bienvenida encima de la imagen -->
    <div class="text-container">
      <h1>¡Bienvenida, {{ userName }}!</h1>

      <p>¿Qué deseas hacer hoy?</p>
    </div>
  </div>

  <!-- Tarjetas de acción -->
  <ion-card class="action-card">
    <ion-card-header>
      <ion-card-title>Reservar Vehículo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="medium" routerLink="/booking">
        Ver Vehículos Disponibles
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="action-card">
    <ion-card-header>
      <ion-card-title>Publicar un Viaje</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="medium" routerLink="/publish-trip">
        Publicar Viaje
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="action-card">
    <ion-card-header>
      <ion-card-title>Mis Reservas</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="medium" routerLink="/mis-reservas">
        Ver Mis Reservas
      </ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card class="action-card">
    <ion-card-header>
      <ion-card-title>Mis Viajes</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button expand="block" color="medium" routerLink="/mis-viajes">
        Ver Mis Viajes
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>
